/* Plik: style.css */
body {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-box {
    width: 833px; /* Szerokość boxa */
    height: 200px; /* Wysokość boxa */
    background-color: #d9d9d9; /* Szary kolor boxa */
    border-radius: 10px;
}

.header-box2 {
    width: 833px; /* Szerokość boxa */
    height: 200px; /* Wysokość boxa */
    background-color: #d9d9d9; /* Szary kolor boxa */
    border-radius: 10px;
    margin-left: 25px; /* Przesunięcie w prawo */
    margin-top: 25px;  /* Przesunięcie w dół */
}
